<html>
  <head>
    <title>Bloggr</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <link href="/posts.rss" rel="alternate" title="RSS" 
          type="application/rss+xml" />
    <link href="http://fonts.googleapis.com/css?family=Lato:300,900"
          rel="stylesheet" type="text/css" />
    <%= javascript_include_tag "application" %>
  </head>

  <header class="header">
    <div class="title">
      <h1>
        <%= link_to "Bloggr", root_url %> ~~~ A Blogging Application
      </h1>
    </div>

    <div class="navigation">
      <ul class="login">
        <% if signed_in %>
          <li>
            <%= link_to "Sign Out", session_path, method: :delete %>
          </li>
          <li>
            <%= link_to "My Dashboard", dashboard_path %>
          </li>
          <% if is_admin %>
            <li>
              <%= link_to "Admin Page", admin_path %>
            </li>
          <% end %>
        <% else %>
          <li>
            <%= link_to "Sign In", new_session_path %>
          </li>
          <li>
            <%= link_to "Sign Up", new_user_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </header>

  <nav class="sidebar">
    <%= form_tag search_path, method: :get do %>
      <%= search_field_tag :search, params[:search],
          placeholder: "SEARCH" %>
    <% end %>
    <ul>
      <h4>Recent Tags</h4>
      <% @tags.each do |tag| %>
        <li>
          <%= link_to "#{tag.name}   #{tag.taggings_count}",
              tag_search_path(tag.name) %>
        </li>
      <% end %>
    </ul>
  </nav>

  <body class="container">
    <%= yield %>
  </body>
</html>
